@use '../utils/vars' as vars;

// ArticlePage Styles
.articlePageWrap {
  margin: 0 auto;
  padding-bottom: 45px;
}

.articleImg {
  width: 100%;
  max-height: 245px;
  object-fit: cover;
}

.articleContent {
  margin: -95px auto 0;
  max-width: 1440px;
  background-color: vars.$color-white;
}

.articleContainer {
  border: 1px solid vars.$color-border;
  border-radius: 5px;
  max-width: 1290px;
  margin: 0 auto;
  padding: 35px 75px 50px;
  box-shadow: vars.$shadow-default;
  margin-bottom: 35px;
  background-color: vars.$color-white;
  position: relative;
}

.articleTitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.articleDesc {
  font-size: 18px;
}

.MuiButton-root.backButton {
  margin-left: 150px;
}
