$font-family: 'Montserrat', sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;
$color-primary: #363636;
$color-primary-60: rgba($color-primary, 0.6);
$color-secondary: #575757;
$color-border: #eaeaea;
$color-accent: #fff619;
$color-accent-60: rgba($color-accent, 0.6);

// Shadows
$shadow-default: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
