@use 'utils/vars' as *;

// Typography
body {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-primary;
}

a {
  font-family: $font-family;
  font-weight: 700;
  color: currentColor;
  text-decoration: none;
}

/* Typography defaults */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.semiBold {
  font-weight: 700;
}
